

.add_barang{
    color: rgb(240, 235, 235);
    margin: 10% auto;
    width: 500px;
    background: linear-gradient(to bottom right ,rgb(18, 4, 214),rgb(45, 24, 230));
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(2, 2, 2, 0.199);
}