.Main-movie {
   margin: 30px 0;
}
.Main-movie h2 {
    color: black;
}
.Main-movie .card:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.192);
}
.Show {
    margin: auto;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 250, 250);
}
.Show .card:hover{
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
 }
.Show .card img{
    width: 200px;
    object-fit: cover;
 }